body{
    font-size: 1.4rem;
}

@media screen and (max-width: 600px) {
    .logo{
        display: none;
    }

    header .content{
        padding-top: 90px!important;
    }
    header .wrapper{
        padding-top: 90px!important;

    }
    .page-header .panel.wrapper{
        background-color: #eb6703!important;
    }

    .nav-toggle:before{
        color: #fff!important;
    }
}

.page-header{
 background-color: #eb6703;
 margin-top: -40px;
}

.header.content{
    height: 200px;
}


.minicart-wrapper .action.showcart::before{
    color:#ffffff!important;
}

.minicart-wrapper .action.showcart.active {
    color: #FFFFFF!important;
}
.product-social-links{
	display:none; 
}

.product-info-main .product-info-price .old-price .price-wrapper .price{
    text-decoration: line-through!important;
}
.product-item .price-box .price-label{
    display: none!important;
}
.product-item .old-price .price{
    text-decoration: line-through!important;
}

.product-options-bottom .price-box .price-container .price, .product-info-price .price-box .price-container .price{
    color: #eb6703!important;
}

.bid-alert-bar-color{
    background-color: #eb6703;
    color: #FFFFFF;
    max-width: 100%;
    text-align: center;
    float: inherit;
}

.action.primary {
    background: #eb6703!important;
    border: 1px solid #eb6703!important;
}

.copyright {
    background-color: #eb6703!important;
}

/*FOOTER*/
.footer1 {
    background: #fff repeat scroll left top;
    padding-top: 40px;
    padding-right: 0;
    padding-left: 0;
}

.title-widget {
    color: #898989;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    position: relative;
    text-transform: uppercase;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 25px;
    margin-left: 0;
    padding-left: 28px;
}

.title-widget::before {
    background-color: #ea5644;
    content: "";
    height: 22px;
    left: 0px;
    position: absolute;
    top: -2px;
    width: 5px;
}



.widget_nav_menu ul {
    list-style: outside none none;
    padding-left: 0;
}

.widget_archive ul li {
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
    height: 3px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 3px;
}


.widget_nav_menu ul li {
    font-size: 13px;
    font-weight: 700;
    line-height: 20px;
    position: relative;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 7px;
    padding-bottom: 7px;
    width:95%;
}

.title-median {
    color: #636363;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 15px;
    text-transform: uppercase;
}

#social:hover {
    -webkit-transform:scale(1.1);
    -moz-transform:scale(1.1);
    -o-transform:scale(1.1);
}
#social {
    -webkit-transform:scale(0.8);
    /* Browser Variations: */
    -moz-transform:scale(0.8);
    -o-transform:scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.social-fb:hover {
    color: #3B5998;
}
.social-tw:hover {
    color: #4099FF;
}
.social-gp:hover {
    color: #d34836;
}
.social-em:hover {
    color: #f39c12;
}
.nomargin { margin:0px; padding:0px;}


.page-footer{
    padding-bottom: unset;
}
/* END FOOTER*/

/* SEARCH BOX*/
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}

#custom-search-input .nested{
    display:none!important;
}



