body{
    font-size: 1.4rem;
}

.page-header{
 background-color: #eb6703;
 margin-top: -40px;
}

.header.content{
    height: 200px;
}

/*
.page-header {
    padding-bottom: 9px!important;
}
*/

.minicart-wrapper .action.showcart.active {
    color: #FFFFFF!important;
}
.product-social-links{
	display:none; 
}

.product-info-main .product-info-price .old-price .price-wrapper .price{
    text-decoration: line-through!important;
}
.product-item .price-box .price-label{
    display: none!important;
}
.product-item .old-price .price{
    text-decoration: line-through!important;
}

.product-options-bottom .price-box .price-container .price, .product-info-price .price-box .price-container .price{
    color: #eb6703!important;
}

.bid-alert-bar-color{
    background-color: #eb6703;
    color: #FFFFFF;
    max-width: 100%;
    text-align: center;
    float: inherit;
}

.action.primary {
    background: #eb6703!important;
    border: 1px solid #eb6703!important;
}

.copyright {
    background-color: #eb6703!important;
}
