body{
    font-size: 1.4rem;
}

.page-header{
 background: url("http://magento2-demo.nexcess.net/pub/media/wysiwyg/home/home-main.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 margin-top: -40px;
}

.header.content{
    height: 200px;
}

/*
.page-header {
    padding-bottom: 9px!important;
}
*/

.minicart-wrapper .action.showcart.active {
    color: #FFFFFF!important;
}
.product-social-links{
	display:none; 
}

.product-info-main .product-info-price .old-price .price-wrapper .price{
    text-decoration: line-through!important;
}
.product-item .price-box .price-label{
    display: none!important;
}
.product-item .old-price .price{
    text-decoration: line-through!important;
}

.product-options-bottom .price-box .price-container .price, .product-info-price .price-box .price-container .price{
    color: #EB6445!important;
}
